<a href="https://colab.research.google.com/github/kolomichyk/BKIT/blob/develop/FINAL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from datetime import datetime

In [ ]:
data_train = pd.read_csv('train.csv')

In [ ]:
data_train.head(20)

In [ ]:
data_train.describe()

             wagnum    prev_fr_id  ...    rsv_org_id      distance
count  1.192243e+06  1.192243e+06  ...  1.192243e+06  1.190917e+06
mean   3.817986e+06  3.810650e+06  ...  4.902682e+06  1.544651e+03
std    2.202737e+06  3.123850e+06  ...  2.481025e+06  1.738946e+03
min    1.100000e+01  8.384500e+04  ...  4.190000e+02  0.000000e+00
25%    1.911908e+06  1.399685e+06  ...  4.097118e+06  2.760000e+02
50%    3.823218e+06  1.661408e+06  ...  4.272291e+06  1.005000e+03
75%    5.730952e+06  7.399715e+06  ...  6.683733e+06  1.879000e+03
max    7.637731e+06  9.990826e+06  ...  9.997469e+06  1.462700e+04

[8 rows x 15 columns]

In [ ]:
data_train.shape

(1192243, 22)

In [ ]:
data_train.isna().sum()

wagnum                  0
prev_fr_id              0
prev_is_load            0
prev_date_depart        4
prev_date_arrival     197
prev_snd_org_id         0
prev_rsv_org_id         0
prev_distance        1034
snd_st_id               0
rsv_st_id               0
fr_id                   0
is_load                 0
date_depart             0
rod                     0
common_ch               0
vidsobst                0
snd_org_id              0
rsv_org_id              0
distance             1326
prev_freight            1
prev_fr_group           1
freight                 4
fr_group                4
dtype: int64

In [ ]:
data_train = data_train.drop(columns=['rod'])

In [ ]:
data_train.head()

In [ ]:
def GetHours(date):
    date_object = datetime.strptime(date[:10], '%Y-%m-%d')
    data_seconds_arr = list(date[11:].split(':'))
    data_low = int(data_seconds_arr[0]) + int(data_seconds_arr[1])/60 + int(data_seconds_arr[2])/3600
    data_high = int(date_object.timestamp())
    return data_high//3600 + data_low

In [ ]:
def ConvertDate(data):
    for i in range(data.shape[0]):
        date_tmp = data['prev_date_depart'][i]
        depart = GetHours(date_tmp)
        date_tmp = data['prev_date_arrival'][i]
        arrival = GetHours(date_tmp)
        data['Travel_time'][i] = arrival - depart

In [ ]:
data_train['Travel_time'] = [0 for i in range(data_train.shape[0])]
data_train['Mounth'] = [0 for i in range(data_train.shape[0])]
data_train['dotw'] = [0 for i in range(data_train.shape[0])]

In [ ]:
data_train.head()

   wagnum  prev_fr_id  ...          freight         fr_group
0      11     1399685  ...         БАНКЕТКИ  Остальные грузы
1      11      292757  ...  ГАРНИТУРЫ КУХОН  Остальные грузы
2      11     8674472  ...    КАРНИЗЫ ДЕРЕВ     Лесные грузы
3      11     8210522  ...  ГАЗЫ УГЛЕВОД ПР   Нефтяные грузы
4      11     1399685  ...         ВАТА МЕД  Остальные грузы

[5 rows x 22 columns]

In [ ]:
ConvertDate(data_train)

<ipython-input-6-2cbfe844ec7e>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Travel_time'][i] = arrival - depart

TypeError: 'float' object is not subscriptable

In [ ]:
data_train.head()